# General
.DS_Store

# Node.js
node_modules/

# Flutter build outputs
build/
android/
ios/
linux/
macos/
windows/

# Flutter tool directories
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# IDE settings
.idea/
.vscode/

# Misc
*.iml
